@import './variables.css';
@import './reset.css';
@import './typography.css';
@import './layout.css';
@import './forms.css';
@import './utilities.css';

body {
    background-color: hsl(from var(--clr-pink) h 50% l);
    background-image: url('$lib/assets/asfalt-light.png');
    color: var(--clr-light);
}